<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Sitemap Detective</title>
  </head>

  <body class="bg-slate-100">
    <!-- Logo Top Left -->
    <div class="absolute top-0 left-0 p-8">
      <a href="/">
        <span>Sitemap Detective</span>
      </a>
    </div>
    <!-- child template -->
    {% block content %} {% endblock %}
  </body>
</html>
