{% extends "base.html" %} {% block content %}
<div class="flex justify-center items-center h-screen w-full bg-blue-400">
  <div class="w-1/2 bg-white rounded shadow-2xl p-8 m-4">
    {% from "_formhelpers.html" import render_field %}
    <form action={{ url_for('main.process_upload') }} method="post" enctype="multipart/form-data">
      {{ render_field(form.name, class="border py-2 px-3 text-grey-800")}} {{
      render_field(form.email)}} {{ render_field(form.term_list)}} {{
      render_field(form.case_sensitive)}} {{ render_field(form.page_list)}} {{
      render_field(form.exact_page)}} {{ render_field(form.file_upload)}}

      <div class="flex flex-col mb-4">
        {{form.submit(class="block bg-blue-400 hover:bg-blue-600 text-white
        uppercase text-lg mx-auto p-4 rounded")|safe}}
      </div>
    </form>
    <a
      class="block w-full text-center no-underline mt-4 text-sm text-gray-700 hover:text-gray-900"
      href="/login"
      >Already have an account?</a
    >
  </div>
</div>

{% endblock %}
