{% extends "base.html" %} {% block content %}
<script defer src="{{url_for('static', filename='helpers.js')}}"></script>

<!-- Hero Header -->
<div class="max-w-7xl mx-auto py-8 md:py-14">
  <!-- Left Side Text -->
  <div class="relative pb-8 sm:pb-5 md:pb-8 lg:w-3/5 lg:pb-28 xl:pb-32">    
    <div class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
      <div class="lg:text-left text-center">
        <h1 class="text-2xl tracking-tight font-extrabold sm:text-5xl md:text-6xl lg:text-6xl">
          <span class="block xl:inline text-indigo-600"
          >Filter leads</span>          
          <span class="block xl:inline font-extrabold text-gray-700"> based on website content</span>
        </h1>
      </div>
    </div>
  </div>
</div>
<!-- Video Demo -->
<div class="sm:w-3/5 sm:mx-auto sm:mb-14 lg:absolute lg:pr-10 lg:pt-10 lg:inset-y-0 lg:right-0 lg:w-2/5">
  <img class="h-1/2 w-full object-contain sm:h-32 md:h-96 lg:w-full" src="{{url_for('static', filename='example.gif')}}" alt="">
</div>


<!-- Form-->
{% from "_formhelpers.html" import render_field,render_errors  %}
<div class="max-w-4xl mx-auto mb-12">
<form action={{ url_for('main.process_upload') }} method="post" enctype="multipart/form-data">
      <!-- Form container-->
      <div class="p-20 bg-white rounded-xl border-gray-100 shadow-lg space-y-10 sm:p-12">
          
        <!-- File Upload -->
        <div>
          <label class="block text-sm font-medium text-gray-700"> CSV Upload </label>
          <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
            <div class="space-y-1 text-center">
              <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <div class="flex text-sm text-gray-600">
                <label class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                  <span>Upload a CSV file</span>
                  <div>
                  {{ render_field(form.file_upload, class="sr-only")}}                   
                  </div>
                </label>
                <p class="pl-1">or drag and drop</p>
              </div>
              <p id="file_name" class="text-xs text-gray-500"></p>
            </div>
          </div>
          {{ render_errors(form.file_upload) }}
        </div>        

        <!-- Sitemap Search -->
        <div class="flex flex-wrap space-x-3 mb-5"> 
          
          <div class="mt-1 space-y-6 sm:mb-4 md:flex-1 md:mr-4">             
            <div class="flex flex-col space-y-2">
              <label class="block text-sm font-medium text-gray-700"> Page URL Search Terms</label>
              {{ render_field(form.page_list, class="focus:ring-indigo-500 p-1 rounded-md sm:text-sm border border-gray-300", placeholder="careers, jobs, talent")}}
              
              <p class="text-xs text-gray-500">Enter a comma separated list of keywords to match with subpages.</p>
            </div>
            
            <div class="flex items-start">
              <div class="flex items-center h-5">
                {{render_field(form.exact_page,class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded")}}                
              </div>
              <div class="ml-3">
                <label class="text-sm font-medium text-gray-700">Exact Page Only</label>
                <p class="text-xs text-gray-500">If turned on "jobs" would not match "jobs-and-careers".</p>
              </div>
            </div>
            
          </div>
          <div class="md:flex-1">
            <img class="" src="{{url_for('static', filename='sitemapsearch.gif')}}" alt="">
          </div>
        </div>

        <!-- On-Page Search -->
        <div class="flex flex-wrap space-x-3"> 
          <div class="mt-1 space-y-6 sm:mb-4 md:flex-1 md:mr-4"> 
            <!-- Terms -->
            <div class="flex flex-col space-y-2">
              <label class="block text-sm font-medium text-gray-700"> On-Page Search Terms </label>
              {{render_field(form.term_list,class="focus:ring-indigo-500 p-1 rounded-md sm:text-sm border border-gray-300", placeholder="customer, GDPR" )}}              
              <p class="text-xs text-gray-500">Enter a comma separated list of search terms. We basically ctrl-f each term. Currently searches the homepage only.</p>
            </div>
            <!-- Case Sensitivity -->
            <div class="flex items-start">
              <div class="flex items-center h-5">
                {{render_field(form.case_sensitive,class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" )}}                
              </div>
              <div class="ml-3">
                <label class="text-sm font-medium text-gray-700">Case Sensitive</label>
                <p class="text-xs text-gray-500">If turned on "GDPR" would not match "gdpr". Only other instances of "GDPR". </p>
              </div>
            </div>
            
          </div>
          <div class="md:flex-1">
            <img class="" src="{{url_for('static',filename='homepagesearch.gif')}}" alt="">
          </div>
        </div>
        
        <div class="flex flex-col space-y-2 w-2/5">
          <label class="block text-sm font-medium text-gray-700"> Email </label>
          {{render_field(form.email,class="focus:ring-indigo-500 p-1 rounded-md sm:text-sm border border-gray-300",placeholder="bobs@burgers.com")}}                          
          <p class="text-xs text-gray-500">Needed to send finished file. We promise no spam!</p>
        </div>

      <div class="sm:px-6">
        {{form.submit(class="block bg-blue-400 hover:bg-blue-600 text-white
        uppercase text-lg mx-auto py-2 px-4 rounded border border-transparent 
        shadow-sm text-sm font-medium rounded-md focus:outline-none 
        focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500")|safe}}            
      </div>
      </div>
    
    </form>
  
</div>

{% endblock %}
