{% extends "base.html" %} {% block content %}

<div
  class="mx-auto w-3/4 mt-20 bg-white rounded shadow-xl border-gray-100 p-8 m-4"
>
  <div class="p-10 space-y-10">
    <!-- Header Information -->
    <div class="text-gray-700">
      <h1 class="font-bold text-3xl">Job # {{job_information.id}}</h1>
      <span class="font-medium text-md"
        >Submitted on {{job_information.created_at.strftime("%B %d, %Y at %I:%M
        %p")}}</span
      >
    </div>

    <!-- Cards -->
    <div class="bg-slate-100 border-gray-100 space-y-4 p-6 text-gray-700">
      <span class="text-2xl font-bold">Summary</span>
      <div class="text-md font-medium flex flex-col space-y-2">
        <div class="flex flex-col space-y-1">
          <span class="font-bold"> Filename </span>
          <span> {{job_information.input_file_name}}</span>
        </div>
        <div class="flex flex-col space-y-1">
          <span class="font-bold"> Page URL Search Terms </span>
          <span> {{job_information.page_list|join(', ')}}</span>
        </div>
        <div class="flex flex-col space-y-1">
          <span class="font-bold"> Exact Page: </span>
          <span>
            {% if job_information.exact_page %} On {% else %} Off {% endif
            %}</span
          >
        </div>
        <div class="flex flex-col space-y-1">
          <span class="font-bold"> On-Page Search Terms </span>
          <span> {{job_information.term_list|join(', ')}}</span>
        </div>
        <div class="flex flex-col space-y-1">
          <span class="font-bold"> Case Sensitive </span>
          <span>
            {% if job_information.case_sensitive %} On {% else %} Off {% endif
            %}</span
          >
        </div>
      </div>
    </div>

    <div class="bg-slate-100 border-gray-100 space-y-4 p-6 text-gray-700">
      <span class="text-2xl font-bold">Results</span>
      <div class="flex flex-col space-y-4">
        {% if job_information.output_file is not none %}
        <span class="text-xl">Completed 🎉</span>
        <div>
          <img
            class="h-7 w-7"
            src="{{ url_for('static', filename='csv.png') }}"
          />
          <a
            class="hover:font-semibold"
            href="{{ url_for('main.download_output_file', job_id=job_information.id) }}"
          >
            Download {{job_information.output_file_name}}
          </a>
        </div>
        {% else %}
        <span class="text-xl font-bold">In Progress</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
