{% extends "base.html" %} {% block content %}

<div class="mx-auto w-3/4 bg-white rounded shadow-xl p-8 m-4">
  <div>
    Job Status: {{job_information.status}} Job Id: {{job_information.id}} File
    Name: {{job_information.input_file_name}} {% if job_information.output_file
    is not none %} Output File: {{job_information.output_file_name}}
    <a
      href="{{ url_for('main.download_output_file', job_id=job_information.id) }}"
      >Download Link</a
    >
    {% endif %}

    <h1>Customizations</h1>
    Pages:{{job_information.page_list}} Keywords: {{job_information.term_list}}
    Case Sensitive: {{job_information.case_sensitive}} Exact Page:
    {{job_information.exact_page}}
  </div>
</div>

{% endblock %}
